
/*--- 1. Default css starts ---*/

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 1.7;
  color: #ffffff;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 600;
}

p {
  letter-spacing: 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding: 60px 0;
}

.section-header {
  margin-bottom: 60px;
  text-align: center;
}

.section-header h2 {
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
}

.line-one {
  height: 1px;
  width: 100px;
  background: #1b51ee;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.line-two {
  height: 2px;
  width: 35%;
  background: #1b51ee;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.line-three {
  height: 2px;
  width: 40%;
  background: #1b51ee;
  display: block;
  margin: 0 auto;
  padding: 0;
}

/*---Default css ends---*/

/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: "";
  border: 1em solid #1b51ee;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*-------------- Preloader css ends ---------------*/

.main-back {
  background-color: #0f0f0f;
}

/*--- 3. Mouse animation starts---*/

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.mouse-scroll {
  position: absolute;
  left: 48%;
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 10%;
  text-decoration: none;
  overflow: hidden;
}

.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 60px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-animation: scroll-ani 2s linear infinite;
  animation: scroll-ani 2s linear infinite;
}

/*---mouse animation ends---*/

/*---------- 4. Nav area css starts -------------*/

.nav-area {
  height: 65px;
}

.nav-area.sticky_navigation {
  background: rgb(41, 41, 41);
  height: 80px;
}

.navbar-nav {
  margin-top: 15px;
}

.sticky_navigation {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
}

.sticky_navigation .main-menu {
  margin-top: 0;
}

.sticky_navigation .navbar-brand,
.sticky_navigation .navbar-brand span {
  color: #000000;
}

.sticky_navigation .navbar-brand:hover,
.sticky_navigation .navbar-brand:focus,
.sticky_navigation .navbar-brand span {
  color: #1b51ee;
}

.sticky_navigation .nav li a {
  color: #ffffff;
}

.sticky_navigation .nav li.active a {
  color: #1b51ee;
}

.sticky_navigation .nav li.active::before {
  border-top: 1px solid #1b51ee;
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
}
.sticky_navigation .nav li.active::after {
  border-bottom: 1px solid #1b51ee;
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
}

.sticky_navigation .navbar-brand:hover {
  color: #ffffff;
}

.main-menu {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin-top: 10px;
}

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 23px 0;
  text-transform: uppercase;
  font-size: 25px;
  display: block;
  color: #ffffff;
  font-weight: 550;
}

.logo {
  padding: 10px;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
  color: #ffffff;
}

.navbar-right li {
  display: inline-block;
  float: none;
}

.navbar-right li a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-right li.active a {
  font-weight: bold;
  color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  background: none;
}

.navbar-toggle .icon-bar {
  background: #033d75;
}

/*---------- Nav area css ends -------------*/

/*----------- 5. Banner area css starts--------------*/

.banner-area {
  background-image: url(../img/home/home-bg-2.jpg); /*--edit image--*/
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  min-height: 700px;
}

.banner-area::before {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-table {
  display: table;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.banner-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.welcome-text .intro h3 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.intro h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.ah-headline.clip .ah-words-wrapper::after {
  background-color: #fff;
}

.banner-btn {
  background: #1b51ee;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  margin: 20px 5px 0px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.banner-btn:hover {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 18px;
}
.banner-btn:focus {
  text-decoration: none;
  color: #ffffff;
}

.welcome-text h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
}

/*---------Banner area css ends--------------*/

/*---------- 6. About area css starts---------------*/

.about-text-left {
  width: 700px;
}
.about-text-left h2 {
  padding: 2% 5%;
  font-weight: 600;
  font-size: 35px;
  color: #ffffff;
  line-height: 1;
  text-align: left;
  margin-bottom: 5px;
}

.about-text-left h3 {
  padding: 2% 5%;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 18px;
}

.about-text-left p {
  padding: 2% 5%;
  text-align: left;
  font-size: 13px;
  color: #fff;
  margin-bottom: 50px;
}

.about-text-left a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background: #1b51ee;
  padding: 10px;
  float: right;
  text-decoration: none;
}

.about-text-left h2 .lastname {
  color: #1b51ee;
}

.social {
  margin-top: 5%;
  text-align: center;
}
.social li {
  padding-left: 50px;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 25px;
}
.social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2.5px solid #1b51ee;
  background: transparent;
  line-height: 0;
  text-align: center;
}

.social a i {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social li a:hover {
  background-color: #333333;
}

.about-text-right {
  margin-top: 10px;
}

.about-text-left {
  margin-top: 50px;
}

.about-text-left p {
  text-align: lef t;
  font-size: 15px;
  color: #fff;
  margin-bottom: 50px;
}

.skillbar {
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  display: block;
}

.skillbar .skillbar-title {
  display: inline-block;
  vertical-align: middle;
}

.skillbar-bar {
  background-color: #ededed;
  width: 100%;
  height: 5px;
}

.skillbar-bar .skillbar-child {
  width: 0;
  height: 100%;
  background-color: #606060;
  -webkit-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

/*-------About area css ends--------------*/

/*---------------7. Services area Starts--------------*/

.single-services:hover .services-icon i {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.resume-area {
  background-color: #0f0f0f;
}
.resume-area h5 {
  font-size: 20px;
  color: #ffffff;
}
#whatIdo h1 {
  padding-left: 15px;
  font-size: 30px;
  color: #ffffff;
}

.wrapper {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.wrapper::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
 
  border: 4px solid #1b51ee;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 0;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #2e2d2d;
  border-width: 10px 10px 10px 0;
  border-color: transparent #2e2d2d transparent transparent;
}

.right::after {
  left: -12px;
}

.content {
  padding: 20px 30px;
  background-color: #0f0f0f;
  position: relative;
  border-radius: 6px;
}

.content {
  border: 1px solid #2e2d2d;
  color: #ffffff;
}
.education-area h6,
.experience-area h6 {
  font-size: 20px;
}

#whatIdo h3 {
  font-size: 15px;
  color: #1b51ee;
  margin: 10px auto;
  text-transform: uppercase;
}

#whatIdo h4 {
  font-size: 15px;
  color: #ffffff;
}

#whatIdo h4 span {
  padding-left: 10px;
}

#whatIdo h5 {
  padding-left: 40px;
}

#whatIdo p {
  font-size: 13px;
  color: #ffffff;
}

/*--------------- Services area ends --------------*/

/*-------- 8. Knowledge-----------*/

.section-header {
  padding-bottom: 50px;
}

.services-area {
  background-color: #161616;
}

.services-icon i {
  font-size: 35px;
}

.services-content h3 {
  line-height: 1.9;
  text-transform: uppercase;
  color: #ffffff;
}

.services-content p {
  line-height: 1.9;
  color: #ffffff;
}

.services-icon {
  border: 1px solid #1b51ee;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
  background-color: #1b51ee;
}

.single-services {
  padding: 40px 20px;
  box-shadow: rgba(82, 55, 78, 0.2) 0 10px 16px,
    rgba(82, 55, 78, 0.2) 0 -5px 16px;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.single-services:hover .services-icon {
  background-color: #ffffff;
  transition: ease 0.3s;
  border-color: #1b51ee;
}

.single-services:hover .services-icon i {
  color: #1b51ee;
}

.single-services:hover {
  background-color: #1b51ee;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.single-services:hover .services-content {
  color: #ffffff;
}
.single-services:hover .services-content h3 {
  color: #ffffff;
}

/*--------Knowledge area ends-----------*/

/*------- 11. Invitation area starts------*/

.invitation-area {
  background: #0f0f0f;
  color: #ffffff;
}
.single-invite h2 {
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 20px;
  padding-top: 0px;
  font-weight: 600;
  color: #ffffff;
}
.single-invite h3 {
  font-size: 20px;
  font-weight: 300;
  width: 70%;
  padding-top: 20px;
  margin: auto;
  color: #ffffff;
}
.single-invite a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  background: #1b51ee;
  margin-top: 20px;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

/*-------invitation area ends------*/


/*-------- 10. Testimonial area starts-----------*/

.testimonial-content p {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.testimonial-area {
  background-color: #161616;
}

.single-testimonial {
  margin: 0 49px 29px;
  border-right: 5px solid #1b51ee;
  border-left: 5px solid #1b51ee;
  padding: 40px 30px 40px;
  position: relative;
  background-color: #161616;
  color: #ffffff;
  text-align: center;
}

.single-testimonial::before {
  content: "";
  background-color: #1b51ee;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 5px;
}

.single-testimonial::after {
  content: "";
  background-color: #1b51ee;
  right: 0;
  width: 50%;
  height: 5px;
  position: absolute;
  bottom: 0;
}

.single-testimonial .testimonial-content {
  margin-bottom: 30px;
  font-size: 15px;
}

.single-testimonial .pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.single-testimonial .pic img {
  width: 100%;
  height: 100%;
}

.single-testimonial .testimonial-title small {
  font-size: 15px;
  color: #292f36;
}

.owl-theme .owl-controls {
  margin-top: 50px;
  margin-left: 30px;
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #222222 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dot.active {
  background-color: #1b51ee !important;
}

/*-------Testimonial area ends----------*/

/*------ 11. Contact area starts-------*/

#contact-form {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  padding: 5%;
}

.single-contact i {
  font-size: 30px;
  color: #1b51ee;
}

.single-contact .socials i {

  font-size: 14px;
  color: #707070;
}

.socials i:hover {
  cursor: pointer;
}

.single-contact {
  margin-bottom: 50px;
}

.contact-area .form-control {
  
  border: 2px solid #a2a2a2;
  box-shadow: none;
  padding: 6px 0;
  border-radius: 0;
  margin-bottom: 30px;
}

.contact-area textarea.form-control {
  border: 2px solid #a2a2a2;
  padding: 6px;
  height: 250px;
  margin-bottom: 30px;
}

.single-contact h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #1b51ee;
}

.single-contact p {
  
  font-size: 12px;
  color: #707070;
}

.btn.btn-send {
  background: #1b51ee;
  color: #ffffff;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
}

.contact-right h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.socials {
  padding-top: 5%;
}

.socials i {
  margin: 0 8px;
}

.single-contact {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  padding: 5%;
}

.form-control {
  background: #222222;
}

.contact-area .contact-boxes {

  margin: auto;
  page-break-after: auto;
}

.contact-area .section-header p {
  margin-bottom: 0px;
}

/*-------- Contact area ends----------- */

/*--------------13. Footer area starts -------------*/

.footer-area {
  background: #232323;
  color: #ffffff;
  padding: 30px 0;
}

.footer-area .name {
  color: #1b51ee;
}
/*--------------- Footer area ends -------------*/
